:host {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    
    --line-height: 1.25;
    --line-elements-gap: 5px;
    --line-white-space: normal;
    --font: Consolas, "Courier New", monospace, sans-serif;

    --line-number-padding: 5px;
    --line-number-color: #777;
    --line-number-background: transparent;
    --line-number-text-align: right;
    --line-number-width: 2ch;

    --toggle-btn-width: 15px;
    --toggle-btn-color: #777;
    --toggle-btn-hover-color: #fff;
    --toggle-btn-padding: 0;

    --copy-btn-width: 40px;
    --copy-btn-height: 40px;
    --copy-btn-color: #777;
    --copy-btn-hover-color: #fff;
    --copy-btn-padding: 10px;

    --indentation-guides-lines-color: #444;
    --indentation-guides-lines-width: 1px;
    
    --json-tab-size: 4ch;

    /* Theme Colors */
    --json-background: #222;
    --json-foreground: #eee;

    --json-key: #9cdcfe;           
    --json-string: #ce9178;        
    --json-number: #b5cea8;        
    --json-boolean: #569cd6;       
    --json-null: #dcdcaa;  

    --json-brace: #ffd700;         
    --json-bracket: #ffd700;       
    --json-comma: #d4d4d4;         
    --json-colon: #d4d4d4; 
    
    background-color: var(--json-background);
    color: var(--json-foreground);
    font-family: var(--font);
    line-height: var(--line-height);
}
:host .JSONVisualizer {

    .line {
        display: flex;
        gap: var(--line-elements-gap);

        .line-number {
            width: var(--line-number-width);
            flex-grow: 0;
            flex-shrink: 0;
            padding-inline: var(--line-number-padding);
            color: var(--line-number-color);
            background-color: var(--line-number-background);
            text-align: var(--line-number-text-align);
            user-select: none;
        }

        .line-toggle-btn {
            display: block;
            flex-grow: 0;
            flex-shrink: 0;
            width: var(--toggle-btn-width);
            margin: 0;
            padding: var(--toggle-btn-padding);
            background: transparent;
            border: none;
            color: var(--toggle-btn-color);

            .toggle-icon, .toggle-icon svg {
                display: block;
                width: 100%;
                height: 100%;
            }
            &.active .toggle-icon {
                rotate: -90deg;
            }
            &:hover {
                color: var(--toggle-btn-hover-color);
            }
        }

        .line-content {
            flex-grow: 1;
            flex-shrink: 1;

            --total-tab-size: calc(var(--level, 0) * var(--json-tab-size, 20px));

            padding-left: var(--total-tab-size);
            white-space: var(--line-white-space);

            background-image: repeating-linear-gradient(
                to right,
                var(--indentation-guides-lines-color) 0,
                var(--indentation-guides-lines-color) var(--indentation-guides-lines-width),
                transparent var(--indentation-guides-lines-width),
                transparent var(--json-tab-size, 20px)
            );
            
            /* limitar la cantidad de líneas con tamaño y posición */
            background-size: var(--total-tab-size) 100%;
            background-repeat: no-repeat;
            background-position: 0 0;
        }

        &:not(:has(.line-toggle-btn)) .line-content {
            margin-left: calc(var(--toggle-btn-width) + var(--line-elements-gap));
        }
    }

    /* Theme */
    span[tags~="brace"]{
        color: var(--json-brace);
    }
    span[tags~="bracket"]{
        color: var(--json-bracket);
    }
    span[tags~="string"]{
        color: var(--json-string);
    }
    span[tags~="key"]{
        color: var(--json-key);
    }
    span[tags~="number"]{
        color: var(--json-number);
    }
    span[tags~="boolean"]{
        color: var(--json-boolean);
    }
    span[tags~="null"]{
        color: var(--json-null);
    }
    span[tags~="comma"]{
        color: var(--json-comma);
    }
    span[tags~="colon"]{
        color: var(--json-colon);
        padding-right: 1ch;
    } 
}
:host([line-numbers="none"]) .JSONVisualizer .line .line-number {

    display: none;
}
:host([toggle-lines="none"]) .JSONVisualizer .line {

    .line-toggle-btn {
        display: none;
    }
    .line-content {

        margin-left: 0;
    }
}
:host([indentation-guides-lines="none"]) .JSONVisualizer .line .line-content {

    background-image: none;
}


:host .copy-btn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: none;
    padding: var(--copy-btn-padding);
    width: var(--copy-btn-width);
    height: var(--copy-btn-height);
    color: var(--copy-btn-color);

    .copy-icon, .copy-icon svg {
        display: block;
        width: 100%;
        height: 100%;
    }

    &:hover {
        color: var(--copy-btn-hover-color);
    }
}
:host([copy-button="none"]) .copy-btn  {
    display: none;
}