:host {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    position: relative;

    --sw-cursor: pointer;
    
    --sw-width: 2em;
    --sw-height: 1em;
    --sw-padding: 0.1em;
    --sw-border-radius: 0.1em;

    --sw-track-height: 100%;
    --sw-track-width: 100%;
    
    --sw-thumb-width: 1em;
    --sw-thumb-height: 1em;
    --sw-thumb-border-radius: 0.1em;

    --sw-track-transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
    --sw-thumb-transition: translate 0.2s ease-out, background-color 0.2s ease-out, border-color 0.2s ease-out;
    
    /* Theme */
    --sw-track-color: #90caf9;
    --sw-checked-track-color: #42a5f5;

    --sw-thumb-color: #222;
    --sw-checked-thumb-color: #0c0c0c;
    
    --sw-track-bg: #222;
    --sw-checked-track-bg: #0c0c0c;

    --sw-thumb-bg: #eeeeee;
    --sw-checked-thumb-bg: #fafafa;

    --sw-track-bg-image: unset;
    --sw-checked-track-bg-image: unset;
    --sw-thumb-bg-image: unset;
    --sw-checked-thumb-bg-image: unset;

    /* Borders */
    --sw-track-border-width: 1px;
    --sw-track-border-style: solid;
    --sw-track-border-color: #444;
    
    --sw-checked-track-border-width: 1px;
    --sw-checked-track-border-style: solid;
    --sw-checked-track-border-color: #555;
    
    --sw-thumb-border-width: 1px;
    --sw-thumb-border-style: solid;
    --sw-thumb-border-color: #222;
    
    --sw-checked-thumb-border-width: 1px;
    --sw-checked-thumb-border-style: solid;
    --sw-checked-thumb-border-color: #222;
    
    /* Shadows */
    --sw-track-shadow: 0 3px 10px #0000003a;
    --sw-thumb-shadow: 0 2px 8px #0000004a;

    /*Focus*/
    --sw-focus-track-outline-color: #0288d1;
    --sw-focus-track-outline-width: 0.2em;

    /*Disabled*/
    --sw-disabled-track-bg:  #555;
    --sw-disabled-track-border: 1px solid #666;
    --sw-disabled-thumb-bg: #777;
    --sw-disabled-thumb-color: #aaa;

    /* Content */
    --sw-content-padding: 0;
    --sw-content-margin: 0;
    --sw-content-color: currentColor;
    --sw-content-font-size: 1em;
    --sw-content-font-family: sans-serif;
    --sw-content-font-weight: normal;
    --sw-content-font-style: normal;

    label {
        display: flex;
        align-items: center;
    }
    input[type="checkbox"] {
        display: none;
    }
}
/*MARK: Switch */
:host .switch {
    position: relative;

    width: var(--sw-width);
    height: var(--sw-height);
    padding: var(--sw-padding);
    
    cursor: var(--sw-cursor);    

    display: flex;
    align-items: center;
    justify-content: center;

    .track {
        flex: none;
        position: relative;
        width: var(--sw-track-width);
        height: var(--sw-track-height);

        color: var(--sw-track-color);

        .track-item {
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;

            translate: 100% 0;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .thumb {
        position: relative;
        width: 50%;
        height: 100%;

        color: var(--sw-thumb-color);

        display: flex;
        align-items: center;
        justify-content: center;

        translate: 0 0;
        transition: var(--sw-thumb-transition);

        .thumb-item {
            box-sizing: border-box;
            flex: none;

            width: var(--sw-thumb-width);
            height: var(--sw-thumb-height);
            border-radius: var(--sw-thumb-border-radius);
            box-shadow: var(--sw-thumb-shadow);

            background-color: var(--sw-thumb-bg);
            background-image: var(--sw-thumb-bg-image);
            border: var(--sw-thumb-border-width) var(--sw-thumb-border-style) var(--sw-thumb-border-color);

            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
:host([checked]) .switch {
    color: var(--sw-checked-track-color);

    .track {
        color: var(--sw-checked-track-color);

        .track-item {
            translate: 0 0;
        }
    }
    .thumb {
        color: var(--sw-checked-thumb-color);
        translate: 100% 0;

        .thumb-item {
            background-color: var(--sw-checked-thumb-bg);
            background-image: var(--sw-checked-thumb-bg-image);
            border: var(--sw-checked-thumb-border-width) var(--sw-checked-thumb-border-style) var(--sw-checked-thumb-border-color);
        }
    }
}
/*MARK: Slot checked and unchecked */
:host .switch {
    ::slotted([data-checked]){
        display: none;
    }
}
:host([checked]) .switch {
    ::slotted([data-checked]){
        display: unset;
    }
    ::slotted([data-unchecked]){
        display: none;
    }
}

/*MARK: Default Track style*/
:host(:not([variant~="thin-track"])) .switch {

    background-color: var(--sw-track-bg);
    background-image: var(--sw-track-bg-image);
    border: var(--sw-track-border-width) var(--sw-track-border-style) var(--sw-track-border-color);
    
    border-radius: var(--sw-border-radius);
    transition: var(--sw-track-transition);
}
:host(:not([variant~="thin-track"])[checked]) .switch {

    background-color: var(--sw-checked-track-bg);
    background-image: var(--sw-checked-track-bg-image);
    border: var(--sw-checked-track-border-width) var(--sw-checked-track-border-style) var(--sw-checked-track-border-color);
}

/*MARK: Thin track */
:host(:not([variant~="vertical"])[variant~="thin-track"]){
    --sw-track-height: 50%;
    --sw-track-width: 100%;
} 
:host([variant~="vertical"][variant~="thin-track"]){
    --sw-track-height: 100%;
    --sw-track-width: 50%;
}
:host([variant~="thin-track"]) .switch .track {
    background-color: var(--sw-track-bg);
    background-image: var(--sw-track-bg-image);
    
    transition: var(--sw-track-transition);
    
    border-radius: var(--sw-border-radius);
    border: var(--sw-track-border-width) var(--sw-track-border-style) var(--sw-track-border-color);
}
:host([variant~="thin-track"][checked]) .switch .track {
    background-color: var(--sw-checked-track-bg);
    background-image: var(--sw-checked-track-bg-image);
    border: var(--sw-checked-track-border-width) var(--sw-checked-track-border-style) var(--sw-checked-track-border-color);
}

/*MARK: Fix thumb with border in thin-track */
:host(:not([variant~="vertical"])[variant~="thin-track"]) .switch .thumb {
    left: calc(-1 * var(--sw-track-border-width));
}
:host(:not([variant~="vertical"])[variant~="thin-track"][checked]) .switch .thumb {
    left: unset;
    right: calc(-1 * var(--sw-track-border-width));
}
:host([variant~="vertical"][variant~="thin-track"]) .switch .thumb {
    bottom: calc(-1 * var(--sw-track-border-width));
}
:host([variant~="vertical"][variant~="thin-track"][checked]) .switch .thumb {
    bottom: unset;
    top: calc(-1 * var(--sw-track-border-width));
}

/*MARK: Vertical */
:host([variant~="vertical"]) {

    --sw-width: 1em;
    --sw-height: 2em;

    .track .track-item {
        width: 100%;
        height: 50%;
        
        translate: 0 0;
    }
    .thumb {
        width: 100%;
        height: 50%;

        translate: 0 100%;
    }
}
:host([variant~="vertical"][checked]) {
    .track .track-item {
        translate: 0 100%;
    }
    .thumb {
        width: 100%;
        height: 50%;

        translate: 0 0;
    }
}
 
/*MARK: Rounded*/
:host(:not([variant~="vertical"])[variant~="rounded"]) {   
    --sw-border-radius: var(--sw-height);
    --sw-thumb-border-radius: 50%;
}
:host([variant~="vertical"][variant~="rounded"]) {   
    --sw-border-radius: var(--sw-width);
    --sw-thumb-border-radius: 50%;
}


/*MARK: Focus*/
:host(:not([variant~="thin-track"]):focus){

    .switch {
        outline: var(--sw-focus-track-outline-width) solid var(--sw-focus-track-outline-color);
        margin: var(--sw-focus-track-outline-width);
    }
}
:host([variant~="thin-track"]:focus) .switch .track {

    outline: var(--sw-focus-track-outline-width) solid var(--sw-focus-track-outline-color);
    margin: var(--sw-focus-track-outline-width);
}

/*MARK: Disabled */
:host([disabled]){

    pointer-events: none;

    .switch {
        cursor: not-allowed;
    
        .thumb-item {
            background-color: var(--sw-disabled-thumb-bg);
            border: var(--sw-disabled-thumb-border);
        }
    }
}
:host(:not([variant~="thin-track"])[disabled]) .switch {

    background-color: var(--sw-disabled-track-bg);
    border: var(--sw-disabled-track-border);
}
:host([variant~="thin-track"][disabled]) .switch .track {

    background-color: var(--sw-disabled-track-bg);
    border: var(--sw-disabled-track-border);
}